  body {
    background-color: transparent;
  }

   .card {
    border-radius: 0.5rem;
  }

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– 

/* Dark mode implementation */
  @media (prefers-color-scheme: dark) {

  body {
    color: #FFFFFF;
    background-color: #24262b;
  }

  .card {
     background-color: #404248;
     border-color: transparent;
     color: #FFFFFF
   }

}